<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registered students</title>
    <link href="../../css/main.css" th:href="@{/css/main.css}" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:if="${session.professor}" class="container" id="main-container">
    <h3>
        Exam overview
    </h3>
    <div id="logout">
        <a class="button" th:href="@{/Logout}">Logout</a>
    </div>
    <div th:unless="${#lists.isEmpty(exams)}" class="container" id="exams-container">
        <table id="exams-table">
            <thead>
            <tr>
                <th scope="col">
                    <a th:href="@{/RegisteredStudents(examSessionId=${examSessionId}, orderBy='matriculation')}">
                        Matriculation</a>
                </th>
                <th scope="col">
                    <a th:href="@{/RegisteredStudents(examSessionId=${examSessionId}, orderBy='name')}">
                        Surname, Name</a>
                </th>
                <th scope="col">
                    <a th:href="@{/RegisteredStudents(examSessionId=${examSessionId}, orderBy='email')}">
                        Email</a>
                </th>
                <th scope="col">
                    <a th:href="@{/RegisteredStudents(examSessionId=${examSessionId}, orderBy='course')}">
                        Bachelor course</a>
                </th>
                <th scope="col">
                    <a th:href="@{/RegisteredStudents(examSessionId=${examSessionId}, orderBy='grade')}">
                        Grade</a>
                </th>
                <th scope="col">
                    <a th:href="@{/RegisteredStudents(examSessionId=${examSessionId}, orderBy='status')}">
                        Status</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="e : ${exams}">
                <td th:text="${e.student.matriculation}"></td>
                <td th:text="${e.student.surname} + ', ' + ${e.student.name}"></td>
                <td th:text="${e.student.email}"></td>
                <td th:text="${e.student.bachelorCourse}"></td>
                <td>
                    <th:block th:if="${e.result}">
                        <th:block th:switch="${e.result.name()}">
                            <th:block th:case="'PASSED'">
                                <span th:text="${e.grade}"></span> <span th:if="${e.laude}"> cum laude</span>
                            </th:block>
                            <th:block th:case="*">
                                <span th:text="${e.result.displayName()}"></span>
                            </th:block>
                        </th:block>
                    </th:block>
                    <th:block th:unless="${e.result}">
                        not defined yet
                    </th:block>
                </td>
                <td th:text="${e.status.displayName()}"></td>
                <td>
                    <th:block th:if="${e.status}">
                        <a class="button"
                           th:if="${e.status.name() == 'NOT_INSERTED_YET' || e.status.name() == 'INSERTED'}"
                           th:href="@{/UpdateGrade(examId=${e.id})}">Edit</a>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container" id="buttons-container">
        <a class="button" th:href="@{/Publish(examSessionId=${examSessionId})}">Publish</a>
        <a class="button" th:href="@{/Report(examSessionId=${examSessionId})}">Report</a>
    </div>
</div>
</body>
</html>