<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../../css/main.css" th:href="@{/css/main.css}" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:if="${session.student}" class="container" id="main-container">
    <div id="logout">
        <a class="button" th:href="@{/Logout}">Logout</a>
    </div>
    <div class="container" id="personal-data-container">
        <h3>
            Nice to see you again!
        </h3>
        <p>
            Professor: <span th:text="${session.professor.surname}"></span> <span
                th:text="${session.professor.name}"></span>
        </p>
    </div>
    <div th:unless="${#lists.isEmpty(courses)}" class="container" id="courses-container">
        <table id="courses-table">
            <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Professor</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${courses}">
                <td><a th:text="${c.code}" th:href="@{/HomeProfessor(selectedCourse=${c.id})}">c.code</a></td>
                <td><a th:text="${c.name}" th:href="@{/HomeProfessor(selectedCourse=${c.id})}">c.name</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:unless="${#lists.isEmpty(dates)}" class="container" id="exam-sessions-container">
        <table id="dates-table">
            <thead>
            <tr>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="d : ${dates}">
                <td><a th:text="${d.date}" th:href="@{/RegisteredStudents(examSessionId=${d.id})}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>