<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../../css/main.css" th:href="@{/css/main.css}" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:if="${session.professor}" id="site-wrapper">
    <nav id="top-bar">
        <div id="top-bar-left">
            <h1 id="welcome-message">
                Nice to see you again, <span th:text="${session.professor.name}"></span>!
            </h1>
        </div>
        <div id="top-bar-middle"></div>
        <div id="top-bar-right">
            <a class="button" id="logout" th:href="@{/Logout}">Logout</a>
        </div>
    </nav>
    <main id="site-main">
        <div class="flex-container content-block-row">
            <div class="flex-container content-block-column" id="personal-data-container">
                <p>
                    Professor: <span th:text="${session.professor.surname}"></span> <span
                        th:text="${session.professor.name}"></span>
                </p>
            </div>
            <div class="flex-container content-block-row" id="courses-data-container">
                <table th:unless="${#lists.isEmpty(courses)}" id="courses-table">
                    <thead>
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c : ${courses}">
                        <td><a th:text="${c.code}" th:href="@{/HomeProfessor(selectedCourse=${c.id})}">c.code</a></td>
                        <td><a th:text="${c.name}" th:href="@{/HomeProfessor(selectedCourse=${c.id})}">c.name</a></td>
                    </tr>
                    </tbody>
                </table>
                <div th:unless="${#lists.isEmpty(dates)}" class="not-flex-container">
                    <table th:unless="${#lists.isEmpty(dates)}" id="dates-table">
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="d : ${dates}">
                            <td><a th:text="${d.date}" th:href="@{/RegisteredStudents(examSessionId=${d.id})}"></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>