<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Welcome to Exam Management Application</h1>
<form action="#" method="POST" th:action="@{/Login}">
    <label>
        username: <input name="username" type="text">
    </label>
    <br>
    <label>
        password: <input name="password" type="password">
    </label>
    <br>
    <input type="submit" value="login">
    <p th:if="${errorMsg != null}" th:text="${errorMsg}"></p>
</form>
</body>
</html>