<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../../css/main.css" th:href="@{/css/main.css}" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="site-wrapper">
    <nav id="top-bar">
        <div id="top-bar-middle">
            <h1 id="welcome-message">Welcome to Exam Management Application</h1>
        </div>
    </nav>
    <main id="site-main">
        <div class="flex-container content-block-column" id="login-form-container">
            <h1>Login</h1>
            <form id="login-form" action="#" method="POST" th:action="@{/Login}">
                <div class="flex-container content-block-row">
                    <input name="username" type="text" id="username_input">
                    <label for="username_input">Username</label>
                </div>
                <div class="flex-container content-block-row">
                    <input name="password" type="password" id="password_input">
                    <label for="password_input">Password</label>
                </div>
                <div class="flex-container content-block-row">
                    <input type="submit" value="login">
                </div>
                <p th:if="${errorMsg}" th:text="${errorMsg}"></p>
            </form>
        </div>
    </main>
</div>
</body>
</html>