<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name xml:lang="en">WT-Exam-Management-Parenti</display-name>

    <!--PARAMETERS-->

    <context-param>
        <param-name>DB_DRIVER</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>DB_URL</param-name>
        <param-value>jdbc:mysql://localhost:3306/db_exam_management</param-value>
    </context-param>
    <context-param>
        <param-name>DB_USER</param-name>
        <param-value>andrea</param-value>
    </context-param>
    <context-param>
        <param-name>DB_PASSWORD</param-name>
        <param-value>Gh8GSSzLKg3@T94#</param-value>
    </context-param>

    <!--SERVLETS MAPPING-->

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeStudentServlet</servlet-name>
        <url-pattern>/HomeStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamResultServlet</servlet-name>
        <url-pattern>/ExamResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeProfessorServlet</servlet-name>
        <url-pattern>/HomeProfessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamSessionServlet</servlet-name>
        <url-pattern>/RegisteredStudents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorHandlerServlet</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>

    <!--FILTERS MAPPING-->

    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/HomeStudent</url-pattern>
        <url-pattern>/HomeProfessor</url-pattern>
        <url-pattern>/ExamResult</url-pattern>
        <url-pattern>/RegisteredStudents</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/Login</url-pattern>
        <url-pattern>/HomeStudent</url-pattern>
        <url-pattern>/HomeProfessor</url-pattern>
        <url-pattern>/ExamResult</url-pattern>
        <url-pattern>/RegisteredStudents</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StudentFilter</filter-name>
        <url-pattern>/HomeStudent</url-pattern>
        <url-pattern>/ExamResult</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ProfessorFilter</filter-name>
        <url-pattern>/HomeProfessor</url-pattern>
        <url-pattern>/RegisteredStudents</url-pattern>
    </filter-mapping>

    <!--OTHER MAPPING-->

    <welcome-file-list>
        <welcome-file>/</welcome-file>
    </welcome-file-list>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/Error</location>
    </error-page>

</web-app>