<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name xml:lang="en">WT-Exam-Management-Parenti</display-name>

    <!--PARAMETERS-->

    <context-param>
        <param-name>DB_DRIVER</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>DB_URL</param-name>
        <param-value>jdbc:mysql://localhost:3306/db_exam_management</param-value>
    </context-param>
    <context-param>
        <param-name>DB_USER</param-name>
        <param-value>andrea</param-value>
    </context-param>
    <context-param>
        <param-name>DB_PASSWORD</param-name>
        <param-value>Gh8GSSzLKg3@T94#</param-value>
    </context-param>

    <!--SERVLETS-->

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>it.polimi.wt.parenti.controllers.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>it.polimi.wt.parenti.controllers.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCoursesProfessor</servlet-name>
        <servlet-class>it.polimi.wt.parenti.controllers.GetCoursesProfessor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCoursesProfessor</servlet-name>
        <url-pattern>/GetCoursesProfessor</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetSessionDatesProfessor</servlet-name>
        <servlet-class>it.polimi.wt.parenti.controllers.GetSessionDatesProfessor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSessionDatesProfessor</servlet-name>
        <url-pattern>/GetSessionDatesProfessor</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCoursesStudent</servlet-name>
        <servlet-class>it.polimi.wt.parenti.controllers.GetCoursesStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCoursesStudent</servlet-name>
        <url-pattern>/GetCoursesStudent</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetSessionDatesStudent</servlet-name>
        <servlet-class>it.polimi.wt.parenti.controllers.GetSessionDatesStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSessionDatesStudent</servlet-name>
        <url-pattern>/GetSessionDatesStudent</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetSessionDetails</servlet-name>
        <servlet-class>it.polimi.wt.parenti.controllers.GetSessionDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSessionDetails</servlet-name>
        <url-pattern>/GetSessionDetails</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateGradeServlet</servlet-name>
        <servlet-class>it.polimi.wt.parenti.controllers.UpdateGradeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateGradeServlet</servlet-name>
        <url-pattern>/UpdateGrade</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PublishServlet</servlet-name>
        <servlet-class>it.polimi.wt.parenti.controllers.Publish</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PublishServlet</servlet-name>
        <url-pattern>/Publish</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>it.polimi.wt.parenti.controllers.Report</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RefuseServlet</servlet-name>
        <servlet-class>it.polimi.wt.parenti.controllers.RefuseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RefuseServlet</servlet-name>
        <url-pattern>/Refuse</url-pattern>
    </servlet-mapping>

    <!--FILTERS-->

    <filter>
        <filter-name>NoCacheFilter</filter-name>
        <filter-class>it.polimi.wt.parenti.filters.NoCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/homeProfessor.html</url-pattern>
        <url-pattern>/homeStudent.html</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>it.polimi.wt.parenti.filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/HomeStudent</url-pattern>
        <url-pattern>/HomeProfessor</url-pattern>
        <url-pattern>/ExamResult</url-pattern>
        <url-pattern>/RegisteredStudents</url-pattern>
        <url-pattern>/UpdateGrade</url-pattern>
        <url-pattern>/Publish</url-pattern>
        <url-pattern>/Report</url-pattern>
        <url-pattern>/Refuse</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>StudentFilter</filter-name>
        <filter-class>it.polimi.wt.parenti.filters.StudentFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StudentFilter</filter-name>
        <url-pattern>/HomeStudent</url-pattern>
        <url-pattern>/ExamResult</url-pattern>
        <url-pattern>/Refuse</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ProfessorFilter</filter-name>
        <filter-class>it.polimi.wt.parenti.filters.ProfessorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ProfessorFilter</filter-name>
        <url-pattern>/HomeProfessor</url-pattern>
        <url-pattern>/RegisteredStudents</url-pattern>
        <url-pattern>/UpdateGrade</url-pattern>
        <url-pattern>/Publish</url-pattern>
        <url-pattern>/Report</url-pattern>
    </filter-mapping>

    <!--OTHER CONFIGURATIONS-->

    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>